#remplaceBaliseLegend {
    text-align: center;
    height: 100%;
    font-size: 1.8rem;
}


.container {
    padding: 20px;
    min-width: 330px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

#container_Choix {
    width: 80%;
    max-width: 1000px;
    margin: 1.5% auto 0;
    font-size: 1em;
    background: var(--activeGrey);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

#logoAdmin, #logoStudent, #logoSchool, #logoTeacher {
    width: 5rem;
    height: 5rem;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
}

/*!* https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ *!*/
/* Styles for form */
form {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    max-width: 500px;
    margin: 40px auto;
    text-align: left;
    margin-top: 20px;
}

/* Styles for fieldset */
fieldset {
    border: none;
    padding: 0;
}

/* Form heading */
h2 {
    margin-top: 2rem;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Adjustments for input fields and labels */
.InputAddOn {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Customize input field */
.InputAddOn-field {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid rgba(147, 128, 108, 0.25);
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: border 0.3s ease;
}



/* Customize labels */
.InputAddOn-item {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
}

/* Submit button */
#connectButton {
    padding: 12px;
    font-size: 1.2rem;
    background-color: var(--rougeUM);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-weight: bold;
}

#connectButton:hover {
    opacity: 0.69;
}
