/* For detailEtudiant and detailEtudiantPourEcoles only */
/* General Style for Details */
.etudiant-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    word-wrap: break-word;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}

.etudiant-details h2 {
    text-align: center;
    color: #1d1d1f;
    font-size: 1.5rem;
}

.etudiant-details p {
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
}

.etudiant-details .specialite {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@media (max-width: 768px) {
    .etudiant-details {
        padding: 15px;
    }

    .etudiant-details p {
        font-size: 14px;
    }
}

.specialite-long-text {
    white-space: normal;
    word-wrap: break-word;
}


.etudiant-details h2 {
    text-align: center;
    color: #1d1d1f;
}

.semester-details {
    background-color: #fff8f7;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}

.semester-details h3 {
    color: #FF5660;
}

.ue-detail {
    margin-top: 10px;
}

.ue-detail h4 {
    color: #FF5660;
}

.ue-detail p {
    color: #555;
}

.etudiant-details p strong {
    color: #FF5660;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #FF5660;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.return-item {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--rougeUM);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.05rem;
    width: 110px;
    height: 50px;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
    margin-bottom: 15px;
}

.return-item:hover {
    color: var(--white);
    background-color: var(--pastelRed);
    text-decoration: none;
}

.button {
    margin-top: -10px;
    margin-bottom: 15px;
}

.agregation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.agregation-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.nom-agregation {
    font-weight: bold;
}

.note-finale {
    color: #007BFF; /* Màu xanh nổi bật */
}
