@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.button {
    display: block;
    text-decoration: none;
    background-color: var(--darkBlue2);
    color: var(--white);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: inset 10px 10px 20px #ffffff45,
    inset -10px -10px 20px #00000020,
    10px 10px 10px #00000020,
    -10px -10px 10px #ffffff45;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.button:hover {
    color: black;
    opacity: 0.69;
}

.button:active {
    color: var(--white);
    opacity: 0.8;
}

/*---START FONTS---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*---END FONTS---*/

/*---START HEADER---*/
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.06);
}

header::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    z-index: -1;
    background: var(--darkBlue2);
}

header:hover::after {
    left: 100%;
}
/*---START NAVBAR---*/


.nav-item {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--lightGrey);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.05rem;
    width: 110px;
    height: 50px;
    margin-left: 2.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
}

.nav-item:hover {
    color: var(--darkBlue2);
    background-color: var(--white);
    text-decoration: none;
}




/*---START BODY---*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background);
    background-position: center;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

/*---START MAIN---*/
main {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

/*---END MAIN---*/

#logoToggle {
    width: 5rem;
    height: 5rem;
}


/*---START RESPONSIVE---*/
@media (max-width: 41200px) {
    header {
        padding: .9rem 16%;
    }

    .HBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
}

@media (max-width: 1300px) {
    header {
        padding: .9rem 5%;
    }

    .HBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
}

@media (max-width: 950px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .HBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    footer.VBox > .HBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

/*---END RESPONSIVE---*/


/*---START FOOTER---*/
footer {
    position: relative;
    left: 0;
    bottom: 0;
    color: var(--darkBlue2);
    width: 100%;
    text-align: center; 
    font-size: 12px;
    font-weight: bold;
    background: var(--footer);
    padding: 3%;
    box-shadow: 0 2px 8px rgba(31, 38, 135, 0.1), 0 4px 16px rgba(31, 38, 135, 0.1);
    z-index: 11;
    margin-top: 50px;
}

.VBox {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    width: 100%;
}

#footer-team {
    text-align: center;  
}

#footer-team p, #footer-team a {
    display: block;     
    margin-bottom: 5px; 
}
/*!*lấy từ TD*!*/

ul {
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
}

ul li {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 1.5;
    background-color: #f9f9f9;
}

ul li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}


/*!* https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ *!*/
.InputAddOn {
    display: flex;
    margin-bottom: 1.5em;
}

.InputAddOn-field {
    flex: 1;
}
.InputAddOn-field:not(:first-child) {
    border-left: 0;
}
.InputAddOn-field:not(:last-child) {
    border-right: 0;
}

.InputAddOn-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #666666;
    font: inherit;
    font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
}
.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px;
}
.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0;
}

form {
    /*//border: 2px solid b;*/
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-weight: bold;
    color: var(--darkBlue2);
    padding-bottom: 10px;
    font-size: 1.5rem;
}
