@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/*---START FONTS---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*---END FONTS---*/

/*---START HEADER---*/
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 13;
    flex-direction: row;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.06);
}

header::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    z-index: -1;
    background: var(--rougeUM);
}

header:hover::after {
    left: 100%;
}

/*---START BODY---*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background);
    background-position: center;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

/*---START NAVBAR---*/


.nav-item {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--lightGrey);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.05rem;
    width: 110px;
    height: 50px;
    margin-left: 2.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
}

.nav-item:hover {
    color: var(--rougeUM);
    background-color: var(--white);
    text-decoration: none;
}

/*---START BODY---*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background);
    background-position: center;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

/*---START MAIN---*/
main {
    width: 100%;
    height: 100%;
    margin-top: 140px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*---END MAIN---*/

#logoToggle {
    width: 5rem;
    height: 5rem;
}

#logoIUT {
    width: 8rem;
    height: 4rem;
}

#logoUM {
    width: 10.8rem;
    height: 4rem;
}

.logo {
    transition: opacity 0.3s ease;
}

.logo:hover {
    animation: logo-react 1s infinite;
    opacity: 0.5;
}

/*START BURGER*/

/* Icon burger */
#burgerIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--lightGrey);
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1001; /* Để icon nằm trên menu */
}

#burger {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--rougeUM);
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

#burgerToggle:checked + #burgerIcon + #burger {
    right: 0;
}

#burger .item {
    padding: 1rem;
    color: var(--lightGrey);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.05rem;
    width: auto;
    margin: 0.5rem 0;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
}

#burger .item:hover {
    color: var(--rougeUM);
    background-color: var(--white);
    text-decoration: none;
}


/*---START RESPONSIVE---*/
@media (max-width: 41200px) {
    header {
        padding: .9rem 16%;
    }

    .HBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
}

@media (max-width: 1300px) {
    header {
        padding: .9rem 5%;
    }

    .HBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
}

@media (max-width: 950px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .HBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    footer.VBox > .HBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #burgerIcon {
        display: block;
    }

    /* Ẩn navbar chính khi màn hình nhỏ */
    .navbar {
        display: none;
    }
}

/*---END RESPONSIVE---*/


/*---START FOOTER---*/
footer {
    position: relative;
    left: 0;
    bottom: 0;
    color: var(--rougeUM);
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: var(--footer);
    padding: 1%;
    box-shadow: 0 2px 8px rgba(31, 38, 135, 0.1), 0 4px 16px rgba(31, 38, 135, 0.1);
    z-index: 11;
    margin-top: 20px;
}

.VBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#footer-main-vbox {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Ajuste la valeur pour l'espacement souhaité */
}


/*!*= TD*!*/

ul {
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
}

ul li {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 1.5;
    background-color: #f9f9f9;
}

ul li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

legend {
    font-weight: bold;
}

