.alert {
    opacity: 0;
    position: absolute;
    top: 90px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 1.5rem;
    z-index: 5;
    animation: slideDown 1s, fadeOut 9.5s 1s;
}

.alert-success {
    color: var(--darkGreen);
    background-color: var(--lightpastelGreen);
    border-color: var(--pastelGreen);
}

.alert-info {
    color: var(--darkBlue);
    background-color: var(--lightpastelBlue);
    border-color: var(--pastelBlue);
}

.alert-warning {
    color: var(--darkYellow);
    background-color: var(--lightpastelYellow);
    border-color: var(--pastelYellow);
}

.alert-danger {
    color: var(--darkRed);
    background-color: var(--lightpastelRed);
    border-color: var(--pastelRed);
}